
<h1 class="country">Country</h1>
{{#each countryList}}
<div class="cards" style="background-image: url({{image}});">
<h2>{{name}}</h2>
<a href="../countries/{{id}}">View details</a>



</div>
{{/each}}

<img class="plane" src="https://static1.squarespace.com/static/566ed299a976afcb5496bc31/t/586577aae58c621168133787/1554055346081/" alt=""/>
<script src="/javascript/main.js"></script>