<form action="/users/me/edit" method="POST">
<label for="username">Username</label>
<input type="text" name="username" value={{username}}>
<label for="hobbies">Hobby</label>
<input type="text" name="hobbies" value={{hobbies}}>
<label for="description">description</label>
<input type="text" name="description">
<button type="submit">Save</button>
</form>