  {{#unless currentUser}}
    <div class='index home-page'>
      <h1>Backpacking with me!</h1>
      <ul>
        <li>
          <a class="classindex" href="/auth/signup">Sign up</a>
        </li>
        <li>
          <a class="classindex" href="/auth/login">Log in</a>
        </li>
      </ul>
    </div>
    {{/unless}}