<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="home-page">
    {{#if currentUser}}
    <header>
      <nav>
        <ul>
          <li><a href="/countries">Home</a></li>
          <li><a href="/users/me">Me</a></li>
          <li>
            <form action="/auth/logout" method="POST">
              <button type="submit">Log out</button></form>
          </li>
        </ul>
      </nav>
    </header>
    {{/if}}
    {{{body}}}
  </div>
</body>

</html>