<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="home-page">
    {{#if currentUser}}
    <header>
      <nav>
        <ul>
          <li><a href="/countries">Home</a></li>
          <li><a href="/users/me">Me</a></li>
          <li>
            <form action="/auth/logout" method="POST">
              <button type="submit">Log out</button></form>
          </li>
        </ul>
      </nav>
    </header>
    {{/if}}
    {{#unless currentUser}}
    <div class='index'>
      <h1>Backpacking with me!</h1>
      <ul>
        <li>
          <a class = "signup"href="/auth/signup">Sign up</a>
        </li>
        <li>
          <a class ="login"href="/auth/login">Log in</a>
        </li>
      </ul>
    </div>
    {{/unless}}

    {{{body}}}
  </div>
</body>

</html>