<h1>triiiiiip!</h1>
{{#each tripUsers}}
  {{username}}
{{/each}}

<form action="/trip" method="POST">
  <label for="countryFrom">From</label>
  <input type="text" name="countryFrom" id="countryFrom" value="{{countryFrom}}">
  <label for="countryTo">To</label>
  <input type="text" name="countryTo" id="countryTo">
  <label for="dateFrom">Departure</label>
  <input type="text" name="dateFrom" id="dateFrom">
  <label for="dateTo">Arrives</label>
  <input type="text" name="dateTo" id="dateTo">
  <button type="submit">Send</button>
</form>
{{#if cityName}}
<h2>{{cityName}}</h2>
<h1>hello</h1>
{{/if}}