*{
  margin: 0;
  padding: 0;
}


h1{
  margin-top: 50px;
  font-size: 60px;
}
body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: black;
  text-align: center;
  display: flex;
  margin-top: 100px;
  margin-right: 30px;
  border:2px solid;
  text-decoration: none;
  border-radius: 20px;
  padding: 25px;
}

.home-page{
  background-image: url('../image/arm22.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  filter: grayscale(46%);
}

.index{
  position: relative;
  z-index: 99;
}
.index ul{
  display: flex;
  justify-content: center;


}
.index li{
  list-style: none;
  margin: 5px;

}
.login-form{
  position: absolute;
  z-index: 20;
}